@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeue-Roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeue-Thin.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Helvetica Neue';
  src: url('../assets/fonts/HelveticaNeue/HelveticaNeue-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}