.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  min-height: calc(100vh - 103px);
  background-color: #F7F8FF;
}

.form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 401px;
  min-height: 520px;
  padding: 17px 40px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 10px #EBF0FF;
  box-shadow: 0 0 10px #EBF0FF;
  border-radius: 24px;

  .breadcrumb {
    margin-bottom: 30px;
  }
}

.form {
  &__title {
    margin-bottom: 20px;
    font-size: 26px;
    font-weight: 300;
    color: $main-color;
  }

  &__field-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;

    &--w-30 {
      width: 30%;

      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__label {
    margin-bottom: 6px;
    font-weight: 300;
    color: $main-color;
  }

  &__input, &__select {
    border: 1px solid #DEDCDC;
    border-radius: 5px;
    font-weight: 300;
    color: $placeholder-color;

    &.has-error {
      border-color: #FFADAD;
    }
  }

  &__input {
    padding: 11px 15px;
    @include placeholder {
      color: $placeholder-color;
      letter-spacing: 1px;
      font-weight: 300;
    }

    &--index {
      width: 40%;
    }
  }

  &__select {
    padding: 10px 14px;
    margin-right: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../assets/images/chevron.svg) no-repeat 95% 50%;

    &--country {
      width: 60%;
    }
  }

  &__btn {
    padding: 14px 39px;
    background-color: $btn-color;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
  }

  &__done {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 26px;
    font-weight: 300;

    &-text {
      line-height: 31px;
      margin-top: 10px;
    }
  }

  &--delivery {
    .form__field-wrap {
      margin-bottom: 30px;
    }

    .form__input {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  &--payment {
    .form__field-wrap {
      margin-bottom: 20px;
    }

    .form__btn {
      margin-top: 10px;
    }
  }
}